*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.rar
*.jar
*.tar
*.zip

*.log
logs

.DS_Store
.DS_Store?
._*

build
bin
deploy
dist
doc
target
node_modules
.idea/**
.settings
lib
package

.project
.classpath
.factorypath

